.root {
    -fx-background-color: #fff;
}

.logo {
    -fx-image: url("../img/app-logo.png");
}

.box-logo {
    -fx-alignment: center;
    -fx-max-height: 65px;
    -fx-min-height: 65px;
    -fx-cursor: hand;
}

.box-logo:hover,
.box-logo:selected {
    -fx-opacity: 0.8;
}

/*............. Box Menus .............*/

.box {
    -fx-background-color: #fff;
    /*-fx-border-color: #2f2f2f;*/
    -fx-border-insets: 5px 0px 0px 0px;
    -fx-border-width: 0 0.5 0 0;
}

.box-content {
    -fx-background-color: #f5f5f5;
    /*-fx-border-color: #2f2f2f;*/
    -fx-border-width: 0 0.5 0 0;
}


.box-menus {
    -fx-padding: 0;
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
}

.menus {
    -fx-background-color: transparent;
    -fx-text-fill: #404040;
    -fx-pref-height: 35px;
    -fx-font-weight: bold;
    -fx-min-height: 35px;
    -fx-padding: 0 0 0 20;
    -fx-font-size: 13px;
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-cursor: hand;
    -fx-graphic-text-gap: 10;
}

.menus:hover {
    -fx-text-fill: #3e84b0;
    -fx-background-color: #e7e7e7;
    -fx-font-weight: bold;
}

.menus:selected {
    -fx-background-color: #49a3da;
    -fx-border-color: #4ab3eb;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}

.menu-grupo {
    -fx-background-image: url("../img/icon/menu-ative2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-font-weight: bold;
}

.menu-grupo:selected {
    -fx-background-image: url("../img/icon/menu-ative.png");
    -fx-font-weight: bold;
}

.menu-grupo-inativo {
    -fx-background-image: url("../img/icon/menu-inativo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-font-weight: bold;
}

.menu-grupo-inativo:selected {
    -fx-font-weight: bold;
    -fx-background-image: url("../img/icon/menu-inativo2.png");
}

.menu-catalogacao {
    -fx-graphic: url("../img/icon/catalogar.png");
}

.menu-catalogacao:selected {
    -fx-graphic: url("../img/icon/catalogar-b.png");
}

.menu-visitantes {
    -fx-graphic: url("../img/icon/user-b.png");
}

.menu-visitantes:selected {
    -fx-graphic: url("../img/icon/user.png");
}

.menu-emprestimo {
    -fx-graphic: url("../img/icon/emprestimo-b.png");
}
.menu-file{
    -fx-graphic: url("../img/icon/file.png")
}


.menu-emprestimo:selected {
    -fx-graphic: url("../img/icon/emprestimo.png");
}
.menu-finance {
    -fx-graphic: url("../img/icon/ic_finance_b.png");
}

.menu-finance:selected {
    -fx-graphic: url("../img/icon/ic_finance.png");
}

.menu-relatorios {
    -fx-graphic: url("../img/icon/relatorio-h.png");
}

.menu-relatorios:selected {
    -fx-graphic: url("../img/icon/relatorio.png");
}

.menu-identificacao {
    -fx-graphic: url("../img/icon/id.png");
}

.menu-identificacao:selected {
    -fx-graphic: url("../img/icon/id-b.png");
}

.menu-pesquisar {
    -fx-graphic: url("../img/icon/pesquisar.png");
}

.menu-pesquisar:selected {
    -fx-graphic: url("../img/icon/pesquisar-b.png");
}

.menu-movimentacao {
    -fx-graphic: url("../img/icon/movi.png");
}

.menu-movimentacao:selected {
    -fx-graphic: url("../img/icon/movi-b.png");
}

.menu-seguranca {
    -fx-graphic: url("../img/icon/valida-b.png");
}

.menu-seguranca:selected {
    -fx-graphic: url("../img/icon/valida.png");
}

.menu-localizacao {
    -fx-graphic: url("../img/icon/localizacao.png");
}

.menu-localizacao:selected {
    -fx-graphic: url("../img/icon/localizacao-b.png");
}

.menu-utilidade {
    -fx-graphic: url("../img/icon/util-b.png");
}

.menu-save{
    -fx-graphic: url("../img/icon/save.png")
}

.menu-record{
    -fx-graphic: url("../img/icon/record.png")
}
.menu-setting{
    -fx-graphic: url("../img/icon/settings.png");
}

.menu-home{
    -fx-graphic: url("../img/icon/home.png");
}


.menu-utilidade:selected {
    -fx-graphic: url("../img/icon/util.png");
}

.box-submenus {
    -fx-background-color: #ffffff;
    /*-fx-padding: 0 0 0 45;*/
    -fx-padding: 0 0 0 0;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.box-submenus {
    -fx-background-color: #ffffff;
    /*-fx-padding: 0 0 0 45;*/
    -fx-padding: 0 0 0 0;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.box-submenus:selected{
    -fx-background-color: #e7e7e7;
    -fx-font-weight: bold;
}
.submenus {
    -fx-background-color: transparent;
    -fx-text-fill: #1e1f16;
    -fx-pref-height: 30px;
    -fx-min-height: 30px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 45;
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-graphic: url("../img/icon/submenu-ative.png");
    -fx-graphic-text-gap: 5;
}

.submenus:hover {
    -fx-text-fill: #4ab3eb;
    -fx-graphic: url("../img/icon/submenu-inativo.png");
}

.submenus:selected {
    -fx-text-fill: #4ab3eb;
    -fx-font-weight: bold;
    -fx-graphic: url("../img/icon/submenu-inativo.png");
}

.box-user {
    -fx-border-color: rgba(237, 237, 237, 0.1);
    -fx-border-width: 0.5 0 0 0;
    -fx-alignment: center;
}

.menu-sair {
    -fx-text-fill: #7a7a7a;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-content-display: right;
    -fx-graphic-text-gap: 10;
    -fx-graphic: url("../img/icon/sair.png");
}

.menu-info{
    -fx-text-fill: #7a7a7a;
    /*-fx-background-color: transparent;*/
    -fx-cursor: hand;
    -fx-content-display: right;
    -fx-graphic-text-gap: 10;
    -fx-graphic: url("../img/icon/info-2-24.png");
}
.menu-info:hover,
.menu-info:selected {
    -fx-opacity: 0.7;
}

.menu-sair:hover,
.menu-sair:selected {
    -fx-opacity: 0.7;
}

.menu-minimize-btn {
    -fx-text-fill: #7a7a7a;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-min-width: 20;
    -fx-max-width: 20;
    -fx-content-display: CENTER;
    -fx-graphic-text-gap: 10;
    -fx-graphic: url("../img/icon/ic_arrow_back.png");
}

.menu-minimize-btn:hover,
.menu-minimize-btn:selected {
    -fx-opacity: 0.7;
}

.lbl {
    -fx-padding: .05em .37em .05em .37em;
    -fx-font-size: 90%;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-fill: #fff;
    -fx-text-alignment: center;
    -fx-alignment: baseline-center;
    -fx-border-radius: .65em;
    -fx-background-radius: .65em;
}

.lbl-default {
    -fx-background-color: #777777;
}
.lbl-default[href]:hover, .lbl-default[href]:focused {
    -fx-background-color: #5e5e5e;
}

.lbl-primary {
    -fx-background-color: #337ab7;
}
.lbl-primary[href]:hover, .lbl-primary[href]:focused {
    -fx-background-color: #286090;
}

.lbl-success {
    -fx-background-color: #5cb85c;
}
.lbl-success[href]:hover, .lbl-success[href]:focused {
    -fx-background-color: #449d44;
}

.lbl-info {
    -fx-background-color: #5bc0de;
}
.lbl-info[href]:hover, .lbl-info[href]:focused {
    -fx-background-color: #31b0d5;
}

.lbl-warning {
    -fx-background-color: #f0ad4e;
}
.lbl-warning[href]:hover, .lbl-warning[href]:focused {
    -fx-background-color: #ec971f;
}

.lbl-danger {
    -fx-background-color: #d9534f;
}
.lbl-danger[href]:hover, .lbl-danger[href]:focused {
    -fx-background-color: #c9302c;
}
.lbl-notification {
    -fx-background-color: #fc2803;
}
.badge {
    -fx-min-width: 10px;
    -fx-padding: 3px 7px 3px 7px;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-fill: #fff;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-color: #777777;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.lb-user {
    -fx-text-fill: #49a3da;
    -fx-padding: 0 0 0 10;
}

.lb-user:hover {
    -fx-text-fill: #4ab3eb;
    -fx-padding: 0 0 0 10;
    -fx-max-width: 120px;
}

/* ............. Header Application ............. */
.box-header {
    -fx-border-color: #ebebeb;
    -fx-border-width: 0 0 1;
    -fx-background-insets: 0 15;
    -fx-border-insets: 0 15;
    -fx-background-color: #f5f5f5;
}

.menus-btn {
    -fx-font-size: 12px;
    -fx-font-family: "Segoe UI";
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-fill: black;
    -fx-cursor: hand;

    -fx-background-color: linear-gradient(to top right, #cde073, #c4d66c);
    -fx-border-color: linear-gradient(to top right, #cde073, #c4d66c);
}

.menus-btn:hover {
    -fx-effect: innershadow(two-pass-box, rgba(0, 0, 0, 0.2), 6, 0.1, 0, 2);
}

.menus-btn:pressed {
    -fx-background-color: #cde073;
    -fx-border-color: #c4d66c;
}

.header-btn {
    -fx-font-size: 12px;
    -fx-font-family: "Segoe UI";
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;

    -fx-background-color: linear-gradient(to top right, #49a3da, #4ab3eb);
    -fx-border-color: linear-gradient(to top right, #49a3da, #4ab3eb);
}

.header-btn:hover {
    -fx-effect: innershadow(two-pass-box, rgba(0, 0, 0, 0.2), 6, 0.1, 0, 2);
}

.header-btn:pressed {
    -fx-background-color: #b7b7b7;
    -fx-border-color: #c0c0c0;
}


/* ............. Footer Application ............. */

.box-footer {
    -fx-border-color: #ebebeb;
    -fx-border-width: 1 0 0;
    -fx-background-insets: 0 15;
    -fx-border-insets: 0 15;
}

.link,
.link:visited {
    -fx-padding: 0px;
    -fx-text-fill: #9b9b9b;
    -fx-alignment: center-right;
    -fx-border-width: 0px;
    -fx-cursor: hand;
    -fx-underline: false;
    -fx-graphic: url("../img/icon/logo-mini.png");
}

.link:hover,
.link:focused {
    -fx-padding: 0px;
    -fx-text-fill: #c5db5a;
    -fx-border-width: 0px;
    -fx-underline: false;
}

.box-messages {
    -fx-text-fill: #888;
}

/* ............. Scroll menus app ............. */

.scroll {
    -fx-background-color: transparent !important;
    -fx-background-insets: -1px !important;
    -fx-padding: 0px;
    -fx-border-width: 0px !important;
}

.scroll > *.viewport {
    -fx-background-color: transparent !important;
    -fx-background-insets: 0;
}

.scroll > *.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-pref-width: 4;
}

.scroll > *.scroll-bar > *.thumb {
    -fx-background-color: #d9212b;
    -fx-border-color: #d9212b;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-insets: 0;
    -fx-border-width: 0 0.5 0 0;
}

.scroll > *.scroll-bar:vertical > *.track {
    -fx-background-color: transparent;
}

.scroll > *.scroll-bar:vertical > *.track-background {
    -fx-background-color: transparent;
}

.scroll > *.scroll-bar:vertical > *.decrement-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-padding: 4px;
    -fx-pref-height: 0;
}

.scroll > *.scroll-bar > *.decrement-button > *.decrement-arrow {
    -fx-background-color: transparent;
}

.scroll > *.scroll-bar:vertical > *.increment-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-padding: 4px;
    -fx-pref-height: 0;
}

.scroll > *.scroll-bar > *.increment-button > *.increment-arrow {
    -fx-background-color: transparent;
}

.header-box {
    -fx-padding: 4px 10px 4px 10px;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #49a3da;
}

.header-box > *.label {
    -fx-font-size: 16px;
}

.base-content {
    -fx-padding: 6px 10px;
}

.deleted-table-row {
    -fx-background-color: #eb4545;
    -fx-text-fill: #eb4545;
}

.updated-table-row {
    -fx-background-color: #ffa841;
}