.launch-background {
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
    -fx-background-position: top;
    -fx-background-repeat: no-repeat;
}

.simple-info-label{
    -fx-font-size: 1.1em;
    -fx-font-family: "Agency FB";
}

.color-picker-area {
    -fx-pref-height: 60px;
    -fx-max-height: 60px;
    -fx-min-height: 60px;
}

.centered-table-view extends .table-view {
}

.centered-table-view *.column-header .label {
    -fx-alignment: center;
}

.custom-centralize-table-cell .table-cell {
    -fx-alignment: CENTER;
}

.box-content {
    -fx-background-color: #f5f5f5;
    /*-fx-border-color: #2f2f2f;*/
    -fx-border-width: 0 0.5 0 0;
}

.box-footer {
    -fx-border-color: #ebebeb;
    -fx-border-width: 1 0 0;
    -fx-background-insets: 0 15;
    -fx-border-insets: 0 15;
}

.box-messages {
    -fx-text-fill: #888;
}

.header-box {
    -fx-padding: 4px 10px 4px 10px;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color: #043b2d;
}

.box-topo {
    -fx-min-height: 60px;
    -fx-padding: 0 15 12 15;
    -fx-alignment: bottom-left;
    -fx-spacing: 8;
    -fx-font-size: 40px;
    -fx-font-weight: 200;
}
