/*............. General Graphics.............*/
.chart-title {
    -fx-font-size: 20px;
    -fx-text-fill: #707070;
}

/*.......... Graphic Line ...........*/

.chart-content .chart-plot-background {
    -fx-background-color: transparent;
}

.chart-content .plot-content {
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
    -fx-stroke-dash-array: 0.25em;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #e5e5e5;
    -fx-stroke-dash-array: 0.25em;
}

/*.......... Legend Axes ...........*/

.axis {
    -fx-tick-label-fill: #444;
    -fx-tick-label-font-size: 10px;
    -fx-tick-label-gap: 5px;
    -fx-tick-length: 10px;
    -fx-tick-label-font-family: "Segeo UI Semibold", sans-serif;
}

.axis:left {
    -fx-border-color: transparent #e4e4e4 transparent transparent;
}

.axis:left > *.axis-label {
    -fx-padding: 0px 0px 4px 0px;
}

.axis:bottom {
    -fx-border-color: #e4e4e4 transparent transparent transparent;
}

.axis:bottom > *.axis-label {
    -fx-padding: 4px 0px 0px 0px;
}

.axis {
    AXIS_COLOR: #dfdfdf;
}

.axis-tick-mark {
    -fx-fill: null;
}

/*..........Charts Legend...........*/

.chart-legend {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 4px;
    -fx-padding: 5px;
}

.chart-legend-item {
    -fx-text-fill: #777;
}

/*............. Chart Pie.............*/
/*.......... Configuration ...........*/

.chart-pie-label {
    -fx-padding: 3px;
    -fx-fill: #777777;
}

.chart-pie-label-line {
    -fx-stroke: #ccc;
    -fx-stroke-width: 1;
    -fx-fill: #ccc;
}

.chart-pie {
    -fx-background-color: derive(-fx-pie-color, 20%), derive(-fx-pie-color, 0%);
    -fx-background-insets: 0;
    -fx-border-color: white;
    -fx-border-width: 1;
}

.pie-legend-symbol.chart-pie {
    -fx-background-radius: 10px;
    -fx-padding: 5px;
    -fx-border-color: transparent;
}

/*..........Color Graphic Pie ...........*/

.default-color0.chart-pie {
    -fx-pie-color: #ffc94c;
}

.default-color1.chart-pie {
    -fx-pie-color: rgba(106, 184, 106, 0.76);
}

.default-color2.chart-pie {
    -fx-pie-color: #4fa9c5;
}

.default-color3.chart-pie {
    -fx-pie-color: #2E8CD9;
}

.default-color4.chart-pie {
    -fx-pie-color: #58488c;
}

.default-color5.chart-pie {
    -fx-pie-color: #A52A73;
}

.default-color6.chart-pie {
    -fx-pie-color: #fd3443;
}

.default-color7.chart-pie {
    -fx-pie-color: #ff8f00;
}

.negative.chart-pie {
    -fx-pie-color: transparent;
    -fx-background-color: white;
}

/*.......... Color Graphic Bar ...........*/
.chart-bar {
    -fx-background-color: derive(-fx-bar-fill, 20%), derive(-fx-bar-fill, 0%);
    -fx-background-insets: 0px;
}

.bar-legend-symbol {
    -fx-padding: 10px;
    -fx-background-insets: 4px;
    -fx-border-radius: 0px;
}

.default-color0.chart-bar {
    -fx-bar-fill: #ffc94c;
}

.default-color1.chart-bar {
    -fx-bar-fill: rgba(97, 181, 97, 0.8);
}

.default-color2.chart-bar {
    -fx-bar-fill: #4fa9c5;
}

.default-color3.chart-bar {
    -fx-bar-fill: #2E8CD9;
}

.default-color4.chart-bar {
    -fx-bar-fill: #58488c;
}

.default-color5.chart-bar {
    -fx-bar-fill: #A52A73;
}

.default-color6.chart-bar {
    -fx-bar-fill: #fd3443;
}

.default-color7.chart-bar {
    -fx-bar-fill: #ff8f00;
}

/*.......... Color Graphic Line ...........*/

.chart-series-line {
    -fx-stroke-width: 2px;
}

.chart-line-conteudo {
    -fx-background-color: #fff;
    -fx-border-color: #e4e4e4;
    -fx-border-width: 2;
    -fx-text-fill: #4e4e4e;
    -fx-font-size: 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-alignment: center;
}

.chart-line-symbol {
    -fx-background-insets: 0, 1.5px;
    -fx-background-radius: 10;
    -fx-padding: 5;
    -fx-max-height: 10;
}

.chart-series-line.default-color0 {
    -fx-stroke: #ffc94c;
}

.chart-line-symbol.default-color0 {
    -fx-background-color: #ffc94c, white;
}

.chart-series-line.default-color1 {
    -fx-stroke: rgba(97, 181, 97, 0.8);
}

.chart-line-symbol.default-color1 {
    -fx-background-color: rgba(97, 181, 97, 0.8), white;
}

.chart-series-line.default-color2 {
    -fx-stroke: #4fa9c5;
}

.chart-line-symbol.default-color2 {
    -fx-background-color: #4fa9c5, white;
}

.chart-series-line.default-color3 {
    -fx-stroke: #2E8CD9;
}

.chart-line-symbol.default-color3 {
    -fx-background-color: #2E8CD9, white;
}

.chart-series-line.default-color4 {
    -fx-stroke: #58488c;
}

.chart-line-symbol.default-color4 {
    -fx-background-color: #58488c, white;
}

.chart-series-line.default-color5 {
    -fx-stroke: #A52A73;
}

.chart-line-symbol.default-color5 {
    -fx-background-color: #A52A73, white;
}

.chart-series-line.default-color6 {
    -fx-stroke: #fd3443;
}

.chart-line-symbol.default-color6 {
    -fx-background-color: #fd3443, white;
}

.chart-series-line.default-color7 {
    -fx-stroke: #ff8f00;
}

.chart-line-symbol.default-color7 {
    -fx-background-color: #ff8f00, white;
}

.setting-hbox {
    -fx-background-color: #fbfbfb;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #e6e6e6;
    -fx-border-width: 1px 1px;
    -fx-padding: 20px;
    -fx-min-height: 60px;
    -fx-max-height: 60px;
}