.widget-page {
    -fx-padding: 10px;
    -fx-background-color: #f1f1f1;
    -fx-vgap: 10px;
    -fx-hgap: 10px;
}

.widget-box {
    -fx-background-color: #FAFAFA;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 2, 0, 0, 0);
    -fx-padding: 20px;
    -fx-vgap: 10px;
    -fx-hgap: 10px;
}

.widget-box-item {
    -fx-border-color: #A5D8DD;
    -fx-border-width: 1px;
}

.widget-box-tag {
    -fx-padding: 4px 20px;
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

.widget-box-tag .label {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: #1C4E80;
    -fx-font-size: 2em;
    -fx-wrap-text: true;
    -fx-padding: 4px;
}

.widget-box-title {
    -fx-padding: 4px 20px;
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

.widget-box-title .label {
    -fx-text-fill: -text-color-light;
    -fx-font-size: 1.2em;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-weight: bolder;
    -fx-wrap-text: true;
    -fx-padding: 4px;
}

.widget-box-income {
    -fx-padding: 4px;
    -fx-alignment: center;
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

.widget-box-income .label {
    -fx-text-fill: #0091D5;
    -fx-font-size: 0.8em;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-weight: bolder;
    -fx-wrap-text: true;
    -fx-padding: 4px;
}

.widget-box-income .icon {

    -fx-min-height: 12px;
    -fx-max-height: 12px;
    -fx-pref-height: 12px;
    -fx-pref-width: 12px;
    -fx-min-width: 12px;
    -fx-max-width: 12px;
    -fx-image: url("../img/icon/ic_arrow_drop_up.png");
}

.widget-box-outcome {
    -fx-padding: 4px;
    -fx-alignment: center;
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

.widget-box-outcome .label {
    -fx-text-fill: #EA6A47;
    -fx-font-size: 0.8em;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-weight: bolder;
    -fx-wrap-text: true;
    -fx-padding: 4px;
}

.widget-box-outcome .icon {
    -fx-min-height: 12px;
    -fx-max-height: 12px;
    -fx-pref-height: 12px;
    -fx-pref-width: 12px;
    -fx-min-width: 12px;
    -fx-max-width: 12px;
    -fx-image: url("../img/icon/ic_arrow_drop_down.png");
}

.widget-box-icon {
    -fx-min-height: 12px;
    -fx-max-height: 12px;
    -fx-pref-height: 12px;
    -fx-pref-width: 12px;
    -fx-min-width: 12px;
    -fx-max-width: 12px;
}